<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Citas</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  </head>
  <body>
    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="../appointments">Citas</a>
      <a class="navbar-brand" href="../edit_client">Perfil</a>
    </nav>

</br>
</br>
<center><h2>Appointment Manager</h2></center>

<div class="container mt-5">
    <div class="row">
      <div class="col-md-7">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td>n°</td>
              <td>Service</td>
              <td>Date</td>
              <td>Time</td>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
      <div class="col-md-5">
        <div class="card-body">
  
          <form action="../appointments/" method="POST">
            {% csrf_token %} 
            <center><h3>Registro</h3></center>
            </br>
            <div class="form-group row">
              <label for="id_date" class="col-2 col-form-label">Date</label>
              <div class="col-10">
                <input class="form-control" type="date" value="2020-08-19" id="id_date" name="date">
              </div>
            </div>

            <div class="form-group row">
              <label for="id_time" class="col-2 col-form-label">Time</label>
              <div class="col-10">
              <select class="form-control" id="id_time" placeholder="" name="time" >
                  <option></option>
                  <option>8:00 AM</option>
                  <option>9:00 AM</option>
                  <option>10:00 AM</option>
                  <option>11:00 AM</option>
                  <option>1:00 PM</option>
                  <option>2:00 PM</option>
                  <option>3:00 PM</option>
                  <option>4:00 PM</option>

                </select>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="id_service" class="col-2 col-form-label">Service</label>
              <div class="col-10">  
                <select class="form-control" id="id_service" placeholder="Service" name="service" >
                  <option>Massage</option>
                  <option>Manicure</option>
                  <option>Pedicure</option>
                  <option>Facial Cleansing</option>
                  <option>Permanent Hair Removal</option>
                  <option>Cryotherapy</option>
                </select>
              </div>
            </div>
            <center>
            </br>
            <button type="submit" class="btn btn-primary btn-block">Reserve</button>
          </br>
          </center>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>