<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Cita</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  </head>
  <body>
    <!-- navigation -->
    <nav class="navbar navbar-dark bg-dark navbar-right">
      <a class="navbar-brand" href="../appointments">Appointments</a>
      <a class="navbar-brand" href="../edit_user">Log Out</a>
    </nav>

</br>
</br>
<center><h2>Edit Appointment</h2></center>

<center>
<div class="container mt-5">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="card-body">
  
          <form action="../edit_appointment/" method="POST">
            {% csrf_token %} 
            <div class="form-group row">
              <label for="id_date" class="col-2 col-form-label">Date</label>
              <div class="col-10">
                <input class="form-control" type="date" id="id_date" name="date">
              </div>
            </div>
  
            <center>
              <button type="submit" class="btn btn-primary btn-block" name="check_btn" >Check Availability</button>
            </center>
  
          </form>
  
          <div class="row" >
            <div class="card-body">
              <form action="../edit_appointment/" method="POST">
                {% csrf_token %} 
                </br>
                <div class="form-group row">
                  <label for="id_appointments" class="col-2 col-form-label">Appts.</label>
                  <div class="col-10">  
                    <select class="form-control" id="id_appointments" name="appointments" >
                      {% for p in appointment_list %}
                        <option>{{p}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="id_service" class="col-2 col-form-label">Service</label>
                  <div class="col-10">  
                    <select class="form-control" id="id_service" name="service" >
                      <option>Massage</option>
                      <option>Manicure</option>
                      <option>Pedicure</option>
                      <option>Facial Cleansing</option>
                      <option>Permanent Hair Removal</option>
                      <option>Cryotherapy</option>
                    </select>
                  </div>
                </div>
  
                <button type="submit" class="btn btn-primary btn-block"  name="update_btn" > Update</button>
              </form>
            </div>
          </div>
  </div>
</center>

</body>
</html>