<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
  </head>
  <body>

</br>
</br>
<center>
    <div class="container mt-5">
    </br>
    </br>
        <div class="row">
          <div class="col-md-5 offset-md-3 card">
            <div class="card-body">
              <form action="../appointments" method="POST">
                <div class="form-group">
                  Correo: <input type="text" name="usuario" class="form-control" autofocus>
                </div>
                <div class="form-group">
                  Contraseña: <input type="password" name="contraseña" class="form-control">
                </div>
      
                <button type="submit" class="btn btn-primary">
                  Iniciar Sesion
                </button>
                <button type="button" class="btn btn-primary" onclick="location.href='../register'">
                    Crear Cuenta
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

</center>


</body>
</html>